.headRotate {
    animation: headRotate 1s infinite;
}

@keyframes headRotate {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}