#cat {  
    position: relative;  
    background-color: grey;
    height: 700px;
    width: 800px;
}
#head {
    position: absolute;
    top: 60px;
    left: 250px;
    background-color: rgb(59, 50, 126);
    height: 200px;
    width: 250px;
    border-radius: 47%;
}
#eyes{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.eye {
    background-color: rgb(101 182 101);
    height: 56px;
    width: 56px;
    border-radius: 50%;
}
.pupil {
    background-color: black;
    height: 50px;
    width: 20px;
    border-radius: 50%;
    margin: 3px 18px;
}
/*#ears{
    position: relative;
}*/
.ear {
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: hotpink;
    border-radius: 90px 0px 80px 0px;
}
.left_ear {
    border-radius: 0px 90px 0px 80px;
    top: 50px;
    left: 250px;
}
.right_ear {
    top: 50px;
    left: 380px;
    border-radius: 90px 0px 80px 0px;
}
#mouth_area{
    position: absolute;
    top: 100px;
    left: 75px;
    border-radius: 45%;
    background-color: rgb(59 107 160); 
    height: 62px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nose {
    position: absolute;
    top: 8px;
    background-color: rgb(15, 43, 15);
    height: 15px;
    width: 20px;
    border-radius: 50%;
}
#mouth {
    border-radius: 0 0 25px 25px;
	height: 25px;
	background-color: #000;
	position: absolute;
	width: 50px;
	left: 25px;
	top: 32px;
}
#whiskers {
    position: absolute;
    left: 60px;
    top: 114px;
    height: 27px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}
#whiskers_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#whiskers_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.whisker {
    background-color: black;
    height: 4px;
    width: 25px;
    border-radius: 35%;
}
#body {
    position: absolute;
    top: 242px;
    left: 240px;
    background-color: rgb(59, 50, 126);
    height: 350px;
    width: 270px;
    border-radius: 40% 40% 10% 10%;
}
#tummy {
    position: absolute;
    top: 64px;
    left: 70px;
    background-color: rgb(59 107 160);
    height: 200px;
    width: 130px;
    border-radius: 40% 40% 10% 10%;
}
#feet {
    position: absolute;
    top: 516px;
    left: 125px;
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#left_foot {
    background-color: hotpink;
    height: 62px;
    width: 136px;
    border-radius: 80% 10% 10% 10%;
}
#right_foot {
    background-color: hotpink;
    height: 62px;
    width: 136px;
    border-radius: 10% 80% 10% 10%;
}
#left_arm {
    position: absolute;
    top: 266px;
    left: 130px;
    background-color: rgb(59, 50, 126);
    height: 86px;
    width: 200px;
    border-radius: 45%;
    transform: rotate(40deg);
}
#paw {
    background-color: hotpink;
    position: absolute;
    top: 15px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
